
.footer{
    width: 100%;
    padding: 5rem 0;
    background-color: rgb(16, 16, 1) ;
}

.footer-container{
    max-width: 1145px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 2fr);
    grid-column: 30px;
    
}

.leftside{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}




.socialmedia{
    margin-top: 1.2rem;
}

@media screen and (max-width: 640px) {
    .footer-container{
       grid-template-columns: 1fr;
       align-items: center;
        
        
    }
}