.project-heading {
  text-align: center;
  padding: 3.9rem 0 1.9rem 0;
}

.project-container {
  max-width: 1142px;
  margin: auto;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.project-card {
  background: black;
  padding: 1.2rem 1rem;
}

.project-card img {
  width: 100%;
}
.project-title {
  color: black;
  padding: 1rem 0;
  text-align: center;
}

.project-details p {
  font-size: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
}
.project-details h5 {
  color: white;
  text-align: center;
}
.project-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.project-buttons .btn {
  padding: 0.6rem 1rem;
}

.linkbutton {
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: #222;
  border: 1.5px solid white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
}

@media screen and (max-width: 740px) {
  .project-container {
    max-width: 88%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}
