.form-container {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 150px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
h2 {
  margin: 20px;
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: #222;
  border: 1.5px solid white;
  font-weight: 600;
  cursor: pointer;
}
.form-container a {
  color: black;
  margin: 5px 0;
  padding: 5px 0;
}
.form-container a .btn {
  margin: 20px;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: #222;
  border: 1.5px solid white;
  font-weight: 600;
  cursor: pointer;
}
.form-container a .btn p {
  margin: 20px;
  padding: 10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: #222;
  border: 1.5px solid white;
  font-weight: 600;
  cursor: pointer;
}

.form-container .techskills h2 {
  color: white;
  text-align: center;
}

.mernstack {
  width: 100%;
  height: auto;
}

.btn {
  width: auto;
  height: auto;
}

.techskills {
  text-align: center;
}

.techskills .h4 {
  text-align: center;
  margin: 1.4rem 0;
}
